<section id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-regresar">
        <i class="fa fa-arrow-left">
          <a (click)="regresarARecomendaciones()">
            <span class="text-regresar">Regresar</span>
          </a>
        </i>
      </div>
    </div>
  </div>
</section>

<section class="meetings-page" id="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading redes1" align="left">
          <p>Recomendación #{{ recomendacion?.orden }}</p>
          <h2>{{ recomendacion?.nombre_modulo }}</h2>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-12" style="margin: left 20px">
          <div class="row">
            <h3 class="titulo-recomendacion text-justify mb-12">
              {{ recomendacion?.descripcion }}
            </h3>
          </div>
          {{ llenarCalificacion(recomendacion?.calificacion) }}
          <div class="row">
            <div
              class="col-lg-12"
              *ngFor="
                let detalle of recomendacion?.detalle;
                let x = index;
                let first = first
              "
            >
              <h3 class="subtitulo-recomendacion">
                <img
                  [src]="'assets/images/recursos/' + detalle.icono"
                  class="ico-capacitacion"
                  style="vertical-align: middle"
                />&nbsp;{{ detalle.pregunta }}
              </h3>
              <br />
              <p class="descripcion-recomendacion">
                {{ detalle.respuesta }}
              </p>
              <br />
            </div>

            <div
              class="col-lg-12"
              *ngFor="
                let recurso of recomendacion?.recursos;
                let i = index;
                let first = first
              "
            >
              <h3 class="subtitulo-recomendacion"></h3>
              <br />
              <h3 class="sub-titulo-paso">PASO #0{{ i + 1 }} :</h3>
              <br />
              <p class="p-paso">
                <img
                  class="ico-capacitacion"
                  [src]="'assets/images/recursos/' + recurso.icono"
                  style="vertical-align: middle"
                />&nbsp;<span class="descripcion-paso">Mira el video:</span>
                {{ recurso.descripcion }}
              </p>
              <br />

              <div class="col-xs-12 row justify-content-center">
                <div class="button-container-video">
                  <iframe
                    [src]="link(recurso.enlace_ruta)"
                    title=""
                    frameborder="0"
                    class="video-recomendacion"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                  <a href="#" class="ico-red-social" alt="">{{
                    recurso.red_social
                  }}</a>
                  <a href="#" class="ico-instagram" alt="">{{
                    recurso.hashtag
                  }}</a>
                </div>
              </div>

              <br />

              <div class="col-lg-12">
                <p class="descripcion-recomendacion">
                  También te recomendamos explorar las siguientes herramientas y
                  recursos:
                </p>
              </div>
              <br />
              <div
                class="col-lg-12"
                *ngFor="
                  let recursoDetalle of recurso.detalle;
                  let x = index;
                  let first = first
                "
              >
                <p class="descripcion-recomendacion">
                  <img
                    [src]="'assets/images/recursos/' + recursoDetalle.icono"
                    class="ico-capacitacion"
                    style="float: left"
                  />

                  <a
                    class="p-paso"
                    [href]="recursoDetalle.enlace_ruta"
                    style="font-weight: bold; color: black !important"
                    target="_blank"
                  >
                    &nbsp;{{ recursoDetalle.nombre }}
                  </a>
                  <br />
                  &nbsp;{{ recursoDetalle.descripcion }}
                </p>
                <br />
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div
              class="col-lg-12 justify-content-center"
              style="text-align: center"
            >
              <a
                *ngIf="!recomendacion?.concluido"
                style="
                  padding-bottom: 20px;
                  padding-top: 20px;
                  margin-bottom: 20px;
                  margin-top: 20px;
                "
                class="btn btn-success justify-content-center"
                (click)="verTest()"
                >¡Pon a prueba lo aprendido!</a
              >
              <p
                *ngIf="!recomendacion?.concluido"
                class="justify-content-center"
              >
                Responde correctamente y gana puntos
              </p>
              <hr style="padding-bottom: 10px" />
              <h3
                class="subtitulo-recomendacion justify-content-center"
                style="text-align: center"
              >
                ¿Qué tan útil fue para ti esta recomendación?
              </h3>
              <br />
              <br />
              <form class="calasificacion-form">
                <p class="clasificacion">
                  <input
                    id="radio1"
                    type="radio"
                    name="estrellas"
                    value="5"
                    [checked]="this.calificacion_actual === 5 ? true : false"
                    (click)="validarCalificacion(5)"
                    [disabled]="!this.calificacion_actual ? false : true"
                  />
                  <label for="radio1" class="label-clasificacion">★</label>
                  <input
                    id="radio2"
                    type="radio"
                    name="estrellas"
                    value="4"
                    [checked]="this.calificacion_actual === 4 ? true : false"
                    (click)="validarCalificacion(4)"
                    [disabled]="!this.calificacion_actual ? false : true"
                  />
                  <label for="radio2" class="label-clasificacion">★</label>
                  <input
                    id="radio3"
                    type="radio"
                    name="estrellas"
                    value="3"
                    [checked]="this.calificacion_actual === 3 ? true : false"
                    (click)="validarCalificacion(3)"
                    [disabled]="!this.calificacion_actual ? false : true"
                  />
                  <label for="radio3" class="label-clasificacion">★</label>
                  <input
                    id="radio4"
                    type="radio"
                    name="estrellas"
                    value="2"
                    [checked]="this.calificacion_actual === 2 ? true : false"
                    (click)="validarCalificacion(2)"
                    [disabled]="!this.calificacion_actual ? false : true"
                  />
                  <label for="radio4" class="label-clasificacion">★</label>
                  <input
                    id="radio5"
                    type="radio"
                    name="estrellas"
                    value="1"
                    [checked]="this.calificacion_actual === 1 ? true : false"
                    (click)="validarCalificacion(1)"
                    [disabled]="!this.calificacion_actual ? false : true"
                  />
                  <label for="radio5" class="label-clasificacion">★</label>
                </p>
              </form>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
