
 <!-- Buttons start -->
 <section class="meetings-page mt-5 pt-5" id="meetings1">
    <div class="container">
      <div class="row" align="center">

        <div class="pb-3">
		  
            <div class="position-relative m-4">
              <div class="progress" style="height: 1px;">
                <div class="progress-bar bg-verde" role="progressbar" aria-label="Progress" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-verde rounded-pill" style="width: 2rem; height:2rem;">1</button>
              <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondaryverde rounded-pill" style="width: 2rem; height:2rem;">2</button>
              <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondaryverde rounded-pill" style="width: 2rem; height:2rem;">3</button>
            </div>
                      
                      </div>
		  

		  
		  </div>
		

		</div>
		
		</section>
			
			 <!-- Buttons end -->
	<!-- Preguntas star -->
	<section class="meetings-page" id="meetings2">
        <div class="container">
          <div class="row">
            <h1 class="titu_cap mb-4">Marketing Digital  </h1>
            </div>
            
            <div class="row">
                <div class="col-12" align="center">
             <img class="img-responsive" src="assets/images/test_autodiagnostico/Herramientas_digitales_1.png" alt=""/>
                  </div>
            </div>
            
                <div class="container">
            <div class="row">
                <div class="col-12">
                           <div class="pb-5" style="z-index: 5">
                <div style="background-color:#1D71B8; height: 2px; width: 100%; position: relative;top: 20px; "></div>
      <a class="btn btn-azulredondo rounded-circle" role="button" aria-disabled="true"> 1 </a>
        <div class="btn-bordeazul rounded-circle position-relative float-end"> </div>	   
    </div>
            </div>
                
                <p class="fs-3 pb-5">¿Tus clientes pueden encontrarte en internet?</p>
                
                
        
                </div>
                </div>
            
                <div class="container">
                    
            <div class="row mb-5">
                
    
               <div class="col-12" align="center">
                   
                   <div class="" role="group" aria-label="Basic checkbox toggle button group">
      <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
      <label class="btn btn-blanco" for="btncheck1">Sí, usamos redes sociales</label>
    
      <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
      <label class="btn btn-blanco" for="btncheck2">NO, usamos redes sociales</label>
    
      <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
      <label class="btn btn-blanco" for="btncheck3">Sí, usamos redes sociales</label>
                       
    <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
      <label class="btn btn-blanco" for="btncheck4">Sí, usamos redes sociales</label>
    </div>
        
                </div>
    
                
                
                <div class="row mb-5 mt-5">
                    <div class="col-6"><button class="btn btn-verde" role="button" aria-disabled="true"><i class="fa fa-arrow-circle-left"></i> Anterior</button></div>
                    <div class="col-6"><button class="btn btn-verde float-end" role="button" aria-disabled="true">Siguiente <i class="fa fa-arrow-circle-right"></i></button></div>
                    
                    <div class="col-12" align="center"><button class="btn btn-verde" role="button" aria-disabled="true"> Enviar test </button></div>
                </div>
        
                </div>
                    
                    
                    
                </div>
            
        
            
            </div>
            
            </section> 
        <!-- Preguntas end -->