<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-regresar">
              <i class="fa fa-arrow-left">
                <a [routerLink]="['/']">
                  <span class="text-regresar">Regresar</span>
                </a>
              </i>
            </div>
          </div>
    </div>
</section>

<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="section-heading mb-5" align="left">
                    <h4 class="pb-3">Hola {{ usuario.nombres | titlecase }}</h4>
                    <h2 class="mb-0 pb-0" *ngIf="usuario.cod_genero; else sinGenero">
                      {{ mostrarTituloPorGenero(usuario.cod_genero) }}
                    </h2>
                    <ng-template #sinGenero> El/a Emprendedor/a </ng-template>
                    El nivel de digitalización de tu negocio va en:
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-xl-12 col-lg-6 mb-4" align="center">
                  <circle-progress
                    [percent]="resultadoPerfilAvance.resultado.resultado * 100"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                  ></circle-progress>
                </div>
              </div>


            <div class="col-lg-12">


                <div class="row">

                    <div class="col-lg-3">
                        <div class="col-12">
                            <div class="new-students">
                                <div class="etiqueta_corona"><img class="" src="assets/images/icon_corona.png" alt="">
                                </div>
                                <h1 class="text-white mb-0 pb-0 pt-0">
                                    <strong>{{
                                        resultadoPerfilAvance.resultado.nombre_nivel_madurez
                                        | titlecase
                                    }}</strong>
                                  </h1>
                                <div class="count-title text-white pb-4">Nivel de digitalización</div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-9 mb-5 p-4 box-avance">

                        <div class="num-calendario pb-5 redes1 text-center" style="font-size: 30px">
                            Te recomendamos seguir esta <strong>ruta de capacitación</strong> para llegar al siguiente
                            nivel
                        </div>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-12" align="center">
                                    <a  *ngFor="let item of resultadoPerfilAvance.resultadoModulos; let i = index" class="btn mb-4 niveles_autodiagnostico" aign="center" 
                                    [routerLink]="['/recomendaciones/modulo/' + item.id_modulo]">
                                        <div style="width: 130px">
                                            <div class="circle-avance-verde">{{ item.orden_modulo }}</div>
                                        </div>
                                        <div class="mb-1 circle-avance" align="center">
                                            <span class="subt-nivel mt-5">Nivel<br>{{ item.nombre_nivel_madurez | titlecase }}</span>
                                        </div>
                                        <span style="font-size: 1rem">{{ item.nombre_modulo }} </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 pt-5 pt-5 pb-5" align="center">
                            <h5>Tú puedes iniciar el camino de que más te guste y empezar a capacitarte </h5>
                        </div>

                        <div class="col-lg-12 pb-2" align="center">
                            <h5><strong>Recuerda que para subir de nivel debes completar las recomendaciones del nivel
                                    más alto en el que te encuentres</strong></h5>
                        </div>

                        <div class="col-lg-12 pb-2" align="center">
                            <h2>Estos son los 5 niveles en Ruta Digital</h2>
                        </div>

                        <div class="col-lg-12 pb-5" align="center">
                            <h5>Actualmente te encuentras en <strong>nivel básico</strong> Para pasar a <strong>nivel
                                    intermedio</strong> debes completar las recomendaciones </h5>
                        </div>

                        <div class="col-lg-12">
                            <div class="row">

                                <div class="col-lg-1" align="center"></div>
                                <div class="col-lg-2" align="center" *ngFor="let item of resultadoPerfilAvance.nivelesMadurez; let i = index">
                                    <div class="new-niveles pb-3 mb-4" *ngIf="item.seleccionado">
                                        <div class="etiqueta_coronap">
                                            <img class="" src="assets/images/icon_coronap.png" alt="" />
                                          </div>
                                          <h6 class="text-white pt-0"  style="font-weight: 500; font-size: 20px;">
                                            <strong>{{ item.nombre | titlecase}}</strong>
                                          </h6>
                                    </div>
                                    <div class="new-niveles-on pb-3 mb-4" *ngIf="!item.seleccionado">
                                        <div class="etiqueta_coronap pt-4"></div>
                                        <h6 class="text-white pt-0" style="font-weight: 500; font-size: 20px;">
                                          <strong>{{ item.nombre | titlecase}}</strong>
                                        </h6>
                                      </div>
                                </div>
                                <div class="col-lg-1" align="center"></div>

                            </div>
                        </div>




                    </div>


                </div>

            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="section-heading mb-5" align="left">
                        <h2 class="mb-0 pb-0">Tus estadísticas</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row" *ngFor="let puntos of estadisticaPerfil; let i = index">
                    <div class="col-lg-2" align="center"></div>
                    <div class="col-lg-3" align="center">
                        <p class="pb-4"><img src="assets/images/icon_fuego.png"></p>
                        <h2 class="num-estadisticas">3</h2>
                        <p class="texto-estadisticas">Días seguidos de capacitación</p>
                    </div>

                    <div  class="col-lg-3" align="center">
                        <p class="pb-4"><img src="assets/images/icon_rayo.png"></p>
                        <h2 class="num-estadisticas">{{ puntos.puntos_disponibles }}</h2>
                        <p class="texto-estadisticas">Puntos produce disponibles</p>
                    </div>

                    <div class="col-lg-3" align="center">
                        <p class="pb-4"><img src="assets/images/icon_maleta.png"></p>
                        <h2 class="num-estadisticas">{{ puntos.premios_canjeados }}</h2>
                        <p class="texto-estadisticas">Premios canjeados</p>
                    </div>

                    <div class="col-lg-2" align="center"></div>

                    <div class="col-lg-4">
                    </div>

                    <div class="col-lg-4">
                    </div>

                </div>
            </div>

            <div class="col-lg-4 pt-5">
                <div class="row pt-3 pb-3">
                    <div class="col-3" align="center"><img src="assets/images/icon_fuego.png" width="40px"></div>
                    <div class="col-9 px-0">
                        <h2 class="titu_cap">Tu tiempo de capacitación</h2>
                    </div>
                </div>

                <div class="col-12">

                    <div class="box_capacitacion mb-1 mt-4 pt-2 pb-2">
                        <div class="row" style="justify-content: space-around; align-items: center;">
                            <div class="col-2 px-0" align="center">
                                <span style="color: #1D71B8; font-size: 2.5rem; font-weight: 500"> 05</span>
                            </div>
                            <div class="col-6 px-0">
                                <span style="color: rgba(85, 85, 85, 0.58); font-size: .8rem; font-weight: 500"> La
                                    aprendedora</span><br>
                                <span style="color: rgba(0, 0, 0, 0.75); font-size: 1rem; font-weight: 500">Días de
                                    capacitación acumulados</span>
                            </div>
                            <div class="col-2 px-0" align="center">
                                <img src="assets/images/icon_check.png">
                            </div>

                        </div>
                    </div>

                    <div class="box_capacitacion mb-1 mt-4 pt-2 pb-2">
                        <div class="row" style="justify-content: space-around; align-items: center;">
                            <div class="col-2 px-0" align="center">
                                <span style="color: #1D71B8; font-size: 2.5rem; font-weight: 500"> 02</span>
                            </div>
                            <div class="col-6 px-0">
                                <span style="color: rgba(85, 85, 85, 0.58); font-size: .8rem; font-weight: 500"> La
                                    aprendedora</span> <br>
                                <span style="color: rgba(0, 0, 0, 0.75); font-size: 1rem; font-weight: 500"> 02/10/2022
                                    - Inicio de capacitación</span>
                            </div>
                            <div class="col-2 px-0" align="center">
                                <img src="assets/images/icon_check.png">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 mb-3 p-4 box-avance mt-5">
                <div class="col-lg-12 mb-4" [ngSwitch]="view">
                        <mwl-calendar-month-view
                          *ngSwitchCase="'month'"
                          [viewDate]="viewDate"
                          [events]="events"
                        >
                        </mwl-calendar-month-view>
                        <mwl-calendar-week-view
                          *ngSwitchCase="'week'"
                          [viewDate]="viewDate"
                          [events]="events"
                        >
                        </mwl-calendar-week-view>
                        <mwl-calendar-day-view
                          *ngSwitchCase="'day'"
                          [viewDate]="viewDate"
                          [events]="events"
                        >
                        </mwl-calendar-day-view>
                </div>

            </div>

            <div class="col-lg-4 pt-0">
             
                <div class="row pt-5 pb-5">
                    <div class="col-3" align="center"><img src="assets/images/icon_rayo.png" width="40px"></div>
                    <div class="col-9 px-0">
                        <h2 class="titu_cap">Tus puntos acumulados</h2>
                    </div>
                </div>

                <div class="row pt-5 pb-5">
                    <div class="col-3" align="center"><img src="assets/images/icon_maleta.png" width="40px"></div>
                    <div class="col-9 px-0">
                        <h2 class="titu_cap">Tus premios<br>
                            canjeados</h2>
                    </div>
                </div>

            </div>

            <div class="col-lg-8 mb-5 p-4 box-avance mt-0">                 
                <div *ngFor="let puntos of estadisticaPerfil; let i = index">
                <div class="col-lg-12" >
                    <div class="count-area-content mb-5">
                        <div class="count-digit counter-loaded"> {{ puntos.puntos_disponibles }}</div>
                        <div class="count-title"> Tus puntos disponibles </div>
                    </div>
                </div>
                <div class="mb-5 col-lg-12">
                    <div class="row">
                        <div class="col-lg-2" align="center"></div>
                        <div class="col-lg-4" align="center">

                            <div class="count-digit2 counter-loaded" style="border-right: 5px solid #089F42;">{{ puntos.puntos_obtenidos }}</div>
                            <div class="count-title"> Puntos obtenidos </div>
                        </div>
                        <div class="col-lg-4" align="center">
                            <div class="count-digit2 counter-loaded">{{ puntos.puntos_canjeados }}</div>
                            <div class="count-title"> Puntos canjeados </div>
                        </div>
                        <div class="col-lg-2" align="center"></div>

                    </div>
                </div>
            </div>

                <div class="col-lg-12">
                    <div class="row">

                        <div class="col-lg-6 pb-3"  *ngFor="let consumo of premioConsumo; let i = index">
                            <div class="box_capacitacion p-0">
                                <div class="col-lg-12 d-flex">
                                    <div class="col-lg-4">
                                        <img class="img-fluid" [src]="consumo.imagenPremio" />
                                        <!--<img class="img-fluid" src="assets/images/img_canje1.png">-->
                                    </div>
                                    <div class="col-lg-8 px-2">
                                        <p class="titucred pt-3">{{ consumo.nombre_premio }}</p>
                                        <p class="textopeq">{{ consumo.descripcion }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-12 d-flex bg-azul rounded-bottom2 text-white py-1"
                                    style="font-size: .8rem">
                                    <div class="col-lg-6 px-2">
                                        El {{ consumo.fecha_consumo | date:'dd/MM/yyyy'}}
                                    </div>
                                    <div class="col-lg-6 pe-2" align="right">
                                        Has gastado: {{ consumo.puntos_consumo }} puntos
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="col-lg-12">
                <div class="row">
                    <div class="section-heading mb-5">
                        <h2 class="mb-0 pb-0">Sigue Capacitándote</h2>
                    </div>
                    </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 mb-4" *ngFor="let item of ListarCapacitando; let i = index">
                        <div class="box_capacitacion_azul p-4">
                            <div class="col-lg-12 d-flex">
                                <div class="col-lg-9">
                                    <p class="text-white"><strong>Nivel {{ item.nombre_nivel_madurez | titlecase }}</strong></p>
                                    <p class="text-blanco"><strong>{{ item.nombre_modulo | titlecase }}</strong></p>
                                    <p class="text-white">Recomendación #{{ item.orden }}</p>
                                    <div class="main-button-avance mt-3">
                                        <a href="#">Continuar</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="col-xl-3 col-lg-6 mb-4" align="center">
                                        <div class="">

                                            <div class="circular">
                                                <div class="inner bg-azul">
                                                </div>
                                                <div class="outer">
                                                </div>
                                                <div class="numb text-white">
                                                    {{ item.progreso }}%</div>
                                                <div class="circle">
                                                    <div class="dot" style="background-color: #fff;">
                                                        <span style="background-color: #fff;"></span>
                                                    </div>
                                                    <div class="bar left"
                                                        style="background-color: rgba(255, 255, 255, 0.25);">
                                                        <div class="progress" style="background-color: #fff;">
                                                        </div>
                                                    </div>
                                                    <div class="bar right"
                                                        style="background-color: rgba(255, 255, 255, 0.25);">
                                                        <div class="progress" style="background-color: #fff;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

 <section class="our-courses bg-white pb-0" id="">
    <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Descubre nuevos premios</h2>
          </div>
        </div>
    <div class="container">  
      <div class="col-lg-12" >
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let nuevo of nuevosPremios; let i = index">
            <ng-template carouselSlide id="slide.id">
              <div class="item col-12 fact-item">
                <div class="position-absolute ms-4">
                  <div class="etiqueta_verde">
                    <img class="svg" [src]="nuevo.imagenTipoPremio" />
                  </div>
                </div>
                <img [src]="nuevo.imagenPremio" alt="Course One" />
                <div class="etiqueta_premio">
                  <button class="btn btn-danger py-0 px-3 me-3 fs-5">
                    <strong> {{ nuevo.etiqueta }}</strong>
                  </button>
                </div>
                <div class="down-content">
                  <h5 class="mb-0">{{ nuevo.nombre }}</h5>
                  {{ nuevo.descripcion_corta }}
                  <div class="info px-0">
                    <div class="row px-0 mx-0 subt-nuevospremios">
                      {{ nuevo.puntos_produce }}<br />
                      <strong class="p-0"
                        >PUNTOS<br />
                        PRODUCE</strong
                      >
                    </div>
                    <div class="main-button-yellowp mt-3" align="center">
                      <div>
                        <a
                          class="main-button-yellowp"
                          (click)="loQuiero(nuevo.id_premio)"
                          >¡Lo quiero!</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
    </div>
    <div class="col-12 mt-5 mb-5" align="center">
        <div class="main-button-red">
            <div class="scroll-to-section"><a  class="scroll-to-section" (click)="verPremios()" >Ver todos los premios</a></div>
        </div>
    </div>
</section>

