<div class="row">
    <div class="col-4 pb-5 redes1">
    <div class="meeting-item box-eventos">
      <div class="down-content d-flex">
            <div class="col-2 date py-4">
              <h6><span>02</span>OCT </h6>
            </div>
          <div class="col-5 pe-2">
            <h3 style="text-align: left p-0 mx-0">Registro Mype</h3>
          <h6 align="left" style="font-size: 18px">mie, 4:00 pm </h6>
            <h6 class="pt-3" align="left">Produce Guardía Civil Lima</h6>
            </div>
          <div class="col-4">
              <img class="img-fluid" src="assets/images/foto_evento1.png">
          </div>
          
          </div>
    </div>
        <div class="meeting-item box-eventos">
      <div class="down-content d-flex">
            <div class="col-2 date py-4">
              <h6><span>06</span>OCT </h6>
            </div>
          <div class="col-5 pe-2">
            <h3 style="text-align: left p-0 mx-0">Registro Mype</h3>
          <h6 align="left" style="font-size: 18px">mie, 4:00 pm </h6>
            <h6 class="pt-3" align="left">Produce Guardía Civil Lima</h6>
            </div>
          <div class="col-4">
              <img class="img-fluid" src="assets/images/foto_evento1.png">
          </div>
          
          </div>
    </div>
        <div class="meeting-item box-eventos">
      <div class="down-content d-flex">
            <div class="col-2 date py-4">
              <h6><span>11</span>OCT </h6>
            </div>
          <div class="col-5 pe-2">
            <h3 style="text-align: left p-0 mx-0">Registro Mype</h3>
          <h6 align="left" style="font-size: 18px">mie, 4:00 pm </h6>
            <h6 class="pt-3" align="left">Produce Guardía Civil Lima</h6>
            </div>
          <div class="col-4">
              <img class="img-fluid" src="assets/images/foto_evento1.png">
          </div>
          
          </div>
    </div>
        <div class="meeting-item box-eventos">
      <div class="down-content d-flex">
            <div class="col-2 date py-4">
              <h6><span>21</span>OCT </h6>
            </div>
          <div class="col-5 pe-2">
            <h3 style="text-align: left p-0 mx-0">Registro Mype</h3>
          <h6 align="left" style="font-size: 18px">mie, 4:00 pm </h6>
            <h6 class="pt-3" align="left">Produce Guardía Civil Lima</h6>
            </div>
          <div class="col-4">
              <img class="img-fluid" src="assets/images/foto_evento1.png">
          </div>
          
          </div>
    </div>
        <div class="meeting-item box-eventos">
      <div class="down-content d-flex">
            <div class="col-2 date py-4">
              <h6><span>28</span>OCT </h6>
            </div>
          <div class="col-5 pe-2">
            <h3 style="text-align: left p-0 mx-0">Registro Mype</h3>
          <h6 align="left" style="font-size: 18px">mie, 4:00 pm </h6>
            <h6 class="pt-3" align="left">Produce Guardía Civil Lima</h6>
            </div>
          <div class="col-4">
              <img class="img-fluid" src="assets/images/foto_evento1.png">
          </div>
          
          </div>
    </div>
  </div>
         
       <div class="col-lg-8 mb-5 p-4 box-eventos-detalle">
  
  <div class="num-calendario pb-5 redes1" style="font-size: 40px"><strong>28</strong> <span class="mes-calendario" style="font-size: 24px; font-family: Montserrat-medium">Registro MYPE</span>
      </div>
  <img class="img-responsive" src="assets/images/foot_evento1-g.png">
<div class="mes-calendario pt-3 pb-3" style="font-size: 26px; font-family: Montserrat-medium">Registra tu marca de productos o servicios</div>
  <p class="text-calendario">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.
  </p>
  <div class="">
      <div class="col-12">
          <div class="d-flex align-items-center pb-3">
      <i><img class="pe-3" src="assets/images/iocn_lugar.png"></i><span class="dir-calendario mb- pb-0" style="display: block"> Hall del Ministerio de Producción<br>
       Calle Uno Oeste 60, San Isidro 15036</span>
  </div>
          </div>
      <div class="col-12">
          <div class="d-flex align-items-center pb-3">
      <i><img class="pe-3" src="assets/images/icon_calendario.png"></i><span class="dir-calendario mb- pb-0">20 de julio del 2022</span>
  </div>
          </div>
      <div class="col-12">
          <div class="d-flex align-items-center pb-3">
      <i><img class="pe-3" src="assets/images/icon_reloj.png"></i><span class="dir-calendario pb-0">10:00 a.m.</span>
  </div>
          </div>
      <div class="col-8">
          <div class="d-flex align-items-center pb-3">
      <i><img class="pe-3" src="assets/images/icon_conpartir.png"></i><span class="dir-calendario pb-0">Compartir</span>
  </div>
          </div>
      
      <p style="font-size: 20px; font-weight: 700">
      Mapa<br>
          <img class="img-fluid" src="assets/images/mapa.png">
          
          </p>
      <div class="col-12 mt-5" align="center">
  <div class="main-button-red">
        <div class="scroll-to-section"><a href="#contact">¡Quiero iniciar mi test!</a></div>
    </div>
</div>
  <p></p>
      
      </div>

</div>
         
        
     </div>
