<section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 redes1">
                    <h5 class="mb-4"><strong>Síguenos:</strong></h5>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square" href="https://www.facebook.com/tuempresagobpe" target="_blank"><img src="assets/images/FACEBOOK.png"></a>
                        <a class="btn btn-square" href="https://twitter.com/tuempresagobpe" target="_blank"><img src="assets/images/TWITTER.png"></a>
                        <a class="btn btn-square" href="https://www.instagram.com/tuempresagobpe/" target="_blank"><img src="assets/images/INSTAGRAM.png"></a>
                        <a class="btn btn-square" href="#"><img src="assets/images/YOUTUBE.png"></a>
						<a class="btn btn-square" href="#"><img src="assets/images/Flickr.png"></a>
                    </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <h5 class="mb-1"><strong>Dirección</strong></h5>
          <p>Ca. Uno Oeste 060.<br>
 Urb. Cópac.<br>
 San Isidro - Lima, Perú</p>
					
<h5 class="mt-4 mb-1"><strong>Contáctanos</strong></h5>
                    <p>(01) 616 2222<br>
 +51 987 654 321<br>
 mesadeayuda@produce.gob.pe</p>
        </div>
		  
		  <div class="col-lg-4 col-md-6 logo-footer redes1" align="right">
                    <img src="assets/images/logo_produce.png">
                  
                </div>
		  <div class="col-lg-4 col-md-6 redes">
                    <h5 class="mb-4"><strong>Síguenos:</strong></h5>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square" href="https://www.facebook.com/tuempresagobpe" target="_blank"><img src="assets/images/FACEBOOK.png"></a>
                        <a class="btn btn-square" href="https://twitter.com/tuempresagobpe" target="_blank"><img src="assets/images/TWITTER.png"></a>
                        <a class="btn btn-square" href="https://www.instagram.com/tuempresagobpe/" target="_blank"><img src="assets/images/INSTAGRAM.png"></a>
                        <a class="btn btn-square" href="#"><img src="assets/images/YOUTUBE.png"></a>
						<a class="btn btn-square" href="#"><img src="assets/images/Flickr.png"></a>
                    </div>
        </div>
      </div>
    </div>
  </section>



