<section class="meetings-page" id="22">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading" align="left">
            <h2>Cursos</h2>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="row">
			  			  
			   <div class="row">
			  <div class="col-lg-3 redes1">
			<form>
		<div class="box-buscador p-4 mx-3 pb-5">
			<div class="d-flex pb-5 linea_inferior">
			<div class="col-lg-6 titulo-filtros">Filtros</div>
			<div class="col-lg-6 limpiar-filtros">Limpiar filtros</div>
			
		</div>
			
			<div class="subt-filtros pt-4 pb-2 linea_inferior">Rango de puntos</div>
			
		<div class="d-flex pt-3">
			<div class="col-lg-5 me-4">
			<select class="form-select form-select-sm" aria-label=".form-select-sm example">
			   <option selected="">desde</option>
  				<option value="1">1</option>
  				<option value="2">2</option>
  				<option value="3">3</option>
			</select>
			</div>
			<div class="col-lg-5">
			<select class="form-select form-select-sm" aria-label=".form-select-sm example">
			  <option> hasta </option>
				<option value="1">1</option>
  				<option value="2">2</option>
  				<option value="3">3</option>
			</select>
			</div>
			
		  </div>
			
			 <div class="btn btn-sm btn-buscador mt-2 px-4"> Filtrar </div>
			
			<div class="subt-filtros pt-5 pb-2 linea_inferior">Categorías</div>
			
			<div class="form-check pt-2 pb-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
  <label class="form-check-label texto-filtros" for="flexCheckDefault">Cursos</label>
</div>
			<div class="form-check pt-2 pb-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
  <label class="form-check-label texto-filtros" for="flexCheckDefault">Asesorías</label>
</div>
			<div class="form-check pt-2 pb-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
  <label class="form-check-label texto-filtros" for="flexCheckDefault">Experiencias</label>
</div>
			
						<div class="subt-filtros pt-5 pb-2 linea_inferior">Niveles</div>
			
			<div class="form-check pt-2 pb-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
  <label class="form-check-label texto-filtros" for="flexCheckDefault">Inicial</label>
</div>
			<div class="form-check pt-2 pb-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
  <label class="form-check-label texto-filtros" for="flexCheckDefault">Básico</label>
</div>
			<div class="form-check pt-2 pb-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6">
  <label class="form-check-label texto-filtros" for="flexCheckDefault">Intermedio</label>
</div>
			<div class="form-check pt-2 pb-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault7">
  <label class="form-check-label texto-filtros" for="flexCheckDefault">Avanzado</label>
</div>
			<div class="form-check pt-2 pb-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault8">
  <label class="form-check-label texto-filtros" for="flexCheckDefault">Experto</label>
</div>

			</div>
				
				
			</form>
			</div>
				   
			     <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-4 mb-3" *ngFor="let premio of listPremio let i = index">
              <div class="meeting-item fact-item">
                <div class="thumb">
                  <div class="price">
                    <img src="assets/images/et_verde.png">
                  </div>
                  <a href="meeting-details.html">
                    <!-- <img class="img-fluid" src="assets/images/premios_img_1.png" alt="New Lecturer Meeting"> -->
                    <img class="img-fluid" [src]="premio.imagenPremio" alt="Course One"/>
                  </a>
					      <div class="price2"><img class="px-3" src="assets/images/et_nuevo.png" alt=""></div>
                </div>
                <div class="down-content">
                  <h5 class="mb-0">{{premio.nombre}}</h5>
                  {{premio.descripcion_corta}}
                  <div class="info px-0">
                    <div class="row px-0 mx-0 subt-nuevospremios">
                      {{premio.puntos_produce}}<br>
                    <strong class="p-0">PUNTOS<br> PRODUCE</strong> </div>
                      <div class="main-button-yellowp mt-3" align="center">
                    <div class="catalogo_premios_detalle.html"><a href="#">¡Lo quiero!</a></div>
                   </div>
                  </div>
                </div>
              </div>
            </div>
			  
			  
			  
          </div>
					 
					 <div class="col-12 mb-5 mt-3" align="center">
			<div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">¡Quiere iniciar mi test!</a></div>
              </div>
		  </div>
        </div>
				   
				  
				   
				  
            </div>
			  </div>
            
			

			
        </div>
      </div>
		</div>
  </section>
