
<section class="meetings-page" id="">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading redes1" align="left">
            <h2>Detalle del evento</h2>
          </div>
        </div>

        <div class="col-lg-12">
        <div class="row">
		    <div class="col-lg-5 mb-4">
        <img class="img-fluid" [src]="listPremio.imagenPremio" />
				</div>
				
				<div class="col-lg-6 mb-4">
				<h6 class="titulos-nuevospremios mb-0">{{listPremio.nombre}}</h6>
				  <p class="subt-nuevospremios mb-0" style="font-size: 25px;">{{listPremio.descripcion_corta}}</p>
					
				  <p class="subt-nuevospremios2 mb-0 pt-3 pb-3">
					<span style="font-weight: 600">Este beneficio pertenece al nivel:</span><span style="color: #1D71B8; font-weight: 700"> {{listPremio.nivel_madurez}} </span><br>
						<span style="font-weight: 600">Puntos requeridos:</span> <span style="color: #1D71B8; font-weight: 700">{{listPremio.puntos_produce}} Puntos Produce</span><br>
 						<span style="font-weight: 600">Tipo de canje:</span><span style="color: #1D71B8; font-weight: 700">  {{listPremio.tipo_canje}}</span>
					</p>
					
					<p class="mb-2">
						<strong>Detalles del beneficio:</strong> </p>
				  <p class="mb-4">
            {{listPremio.detalle_premio}}
					</p>
					
					<div class="main-button-red mt-3" align="center">
                  <div class="catalogo_premios_detalle.html"><a href="#">Canjear</a></div>
              </div>			 			
        </div> 
		 </div>  
   </div>
  </div>
	</div>
	</section>

  <section class="our-courses bg-white pb-0" id="">
    <div class="container">
      <div class="row">
       <div class="col-lg-12">
         <div class="section-heading">
           <h2>Descubre nuevos premios</h2>
         </div>
       </div>

     <div class="col-lg-12">
       <owl-carousel-o [options]="customOptions">
         <ng-container   *ngFor="let descubre of listDescubrePremios let i = index">
           <ng-template  carouselSlide id="slide.id">
            <div class="item col-12 fact-item">
             <div class="position-absolute ms-4">
              <div class="etiqueta_verde"><img class="svg" [src]="descubre.imagenTipoPremio"/></div> 
            </div>
             <img [src]="descubre.imagenPremio" alt="Course One"/>
             <div class="etiqueta_premio">
              <button class="btn btn-danger py-0 px-3 me-3 fs-5"> <strong> {{descubre.etiqueta}} </strong> </button>
             </div>             
            <div class="down-content">
               <h5 class="mb-0">{{descubre.nombre}}</h5>
               {{descubre.descripcion_corta}}
               <div class="info px-0">
                 <div class="row px-0 mx-0 subt-nuevospremios">
                   {{descubre.puntos_produce}}<br>
                 <strong class="p-0">PUNTOS<br> PRODUCE</strong> </div>
                   <div class="main-button-yellowp mt-3" align="center">
                     <div class="catalogo_premios_detalle.html">
                       <a  class="main-button-yellowp" (click)="loQuiero(descubre.id_premio)">¡Lo quiero!</a>
                     </div>
                   </div>
                 </div>
             </div>
             </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    </div>
    </div>
   </div>
 </section>

		
