<div class="container">
	

    <!-- Modal 1 -->
    <div class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" align="center">
              <img class="img-responsive pt-5" src="assets/images/modal/excelente.png" width="477" height="506" alt=""/>
    <p class="fs-4 pt-1"><strong>¡Excelente!</strong></p>
            <p class="pt-1">Haz completado la evaluación de la recomendación que te propusimos revisar y haz obtenidop</p>
              <img class="img-responsive" src="assets/images/icon_rayo.png" width="73" height="83" alt=""/> 
              <div class="count-digit2 counter-loaded">450</div>
              <p>Puntos Produce</p>
          
      </div> </div> </div>
    </div>


    <!-- Modal 2 -->
    <div class="modal" tabindex="-1">
        <div class="modal-dialog bg-azul">
          <div class="modal-content">
            <div class="modal-header border-bottom-0">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">
                <img class="img-responsive pt-5" src="assets/images/modal/sigue_intentando.png" width="477" height="506" alt=""/>
      <p class="fs-4 pt-1"><strong>¡Sigue intentando!</strong></p>
              <p class="pt-1"> No hemos logrado comprobar tus conocimientos</p>
            
        </div> </div> </div>
      </div>


       <!-- Modal 3 -->
    <div class="modal" tabindex="-1">
        <div class="modal-dialog bg-verde">
          <div class="modal-content">
            <div class="modal-header border-bottom-0">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">
                <img class="img-responsive pt-5" src="assets/images/modal/sigue_intentando.png" width="477" height="506" alt=""/>
      <p class="fs-4 pt-1"><strong> ¡Una vez más! </strong></p>
              <p class="pt-1">No hemos logrado comprobar tus conocimientos, vuelve a leer tu recomendación y pon a pruebas tus conocimientos en 59:00</p>
            
        </div> </div> </div>
      </div>




             </div>
