<section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-regresar">
	<i class="fa fa-arrow-left"> <a href="index.html"><span class="text-regresar">Regresar</span></a></i>
	</div>
      </div>
    </div>
  </section>

  
  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading" align="left">
            <h2>Actividades PRODUCE - Octubre 2022</h2>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="row">
			  
			  <div class="col-lg-12 redes1">
              <div class="filters">
                <ul>
                  <li data-filter="*" class="active">Hoy</li>
                  <li data-filter=".soon">Mañana</li>
                  <li data-filter=".imp">Esta semana</li>
                  <li data-filter=".att">La próxima semana</li>
                </ul>
              </div>
            </div>
			
              <app-eventos-seleccion>

              </app-eventos-seleccion>

			  </div>         
          </div>		
        </div>
      </div>
  </section>
