<section data-section="heading-page header-text" class="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-regresar">
        <i class="fa fa-arrow-left">
          <a href="index.html"
            ><span class="text-regresar"> Regresar</span></a
          ></i
        >
      </div>
    </div>
  </div>
</section>

<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading" align="left">
          <h2 class="pb-0 mb-3">Nuestros próximos eventos</h2>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="row">
          <app-eventos-seleccion> </app-eventos-seleccion>
        </div>
      </div>
    </div>
  </div>
</section>
