<header id="header" class="">
<div class="container px-0  bg-white">
    <div class="row gx-0 align-items-center mb-2 pt-2">
        <div class="col-sm-12 d-flex">
  <div class="col-sm-8">
            <img class="img-responsive" src="assets/images/logo_produce.png">
        </div>
        <div class="col-sm-2 text-end">
            <img class="img-responsive" src="assets/images/logo_siempre_cep.png">
        </div>
            <div class="col-sm-2 text-end">
            <img class="img-responsive" src="assets/images/logo_bicentenario.png">
            </div>
        </div>
        </div>
    </div>
</header>
