  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo pt-1">
                    <img src="assets/images/logo-ruta.png"  alt=""/> </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class=""><a href="index.html" >Inicio</a></li>
                        <li class=""><a href="index.html" >Autodiagnóstico<br> histórico</a></li>
                        <li class=""><a href="#">Inicia tu<br> autodiagnóstico</a></li>
                        <li class=""><a href="#">Resultados<br> Ruta Digital</a></li>
                        <li class=""><a>Tu avance en<br> Ruta Digital</a></li>
                        <li class=""><a (click)="verEventos()">Eventos</a></li> 
                        <li class=""><a [routerLink]="['/premios/premios-catalogo/']">Catálogo de<br> premios</a></li> 
                    </ul>        
                    <a class='menu-trigger'>
                        <span style="color: #fff">Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->