<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo pt-1">
            <img src="assets/images/logo-ruta.png" alt="" />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">

            <li>
              <a [routerLink]="['/']">Inicio</a>
            </li>

            <li  *ngIf="verificacionDiagHistorico && isAutenticated">
              <a [routerLink]="['/']">Autodiagnóstico<br/>histórico</a>
            </li>

            <li *ngIf="!verificacionDiag">
              <a (click)="fnIniciarAutoDiagnostico()">Inicia tu<br/>autodiagnóstico</a>
            </li>

            <li *ngIf="verificacionDiag && isAutenticated">
              <a [routerLink]="['autodiagnostico']">Resultados<br/>Ruta Digital</a>
            </li>

            <li *ngIf="verificacionDiag && isAutenticated">
              <a [routerLink]="['perfil-avance']">Tu avance en<br/>Ruta Digital</a>
            </li>

            <li>
              <a (click)="fnEvento()">Eventos</a>
            </li>

            <li >
              <a (click)="fnCatalogoPremio()">Catálogo de<br/>premios</a>
            </li>

          </ul>

          <a class="menu-trigger">
            <span style="color: #fff">Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
