  <!-- Sub Header -->
  <div class="sub-header py-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="left-content redes1"> 
			  <h1 class="text-blanco m-0"><a href="https://producemas.produce.gob.pe/" target="_blank"><img class="img-responsive pe-2" src="assets/images/icon_flecha.png"></a> <strong><em> Ir a Produce Más</em></strong> <img class="img-responsive" src="assets/images/produce-mas-blanco.png"></h1>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="right-icons" >
            <ul class="text-blanco">
              <li>Más servicios<a href="#"><i><img class="img-responsive px-2" src="assets/images/menu_mas_servicios.png"></i></a></li>
              <li><a href="#"><img class="img-responsive" src="assets/images/icon_user.png"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>