<!-- Sub Header -->
<div class="sub-header py-2">
  <div class="container">
    <div class="row">
      <div class="co-12 d-flex ps-2 pe-2">
        <div class="col-6">
          <div class="left-content redes1">
            <h1 class="text-blanco m-0">
              <a href="https://producemas.produce.gob.pe/" target="_blank"
                ><img
                  class="img-responsive pe-2"
                  src="assets/images/icon_flecha.png"
              /></a>
              <strong><em> Ir a Produce Mas</em></strong>
              <img
                class="img-responsive"
                src="assets/images/produce-mas-blanco.png"
              />
            </h1>
          </div>
          <div class="left-content redes">
            <h1 class="text-blanco m-0">
              <a href="https://producemas.produce.gob.pe/" target="_blank"
                ><img
                  class="img-responsive pe-2"
                  src="assets/images/icon_flecha.png"
              /></a>
              <strong><em> Regresar</em></strong>
              <img
                class="img-responsive"
                src="assets/images/produce-mas-blanco.png"
              />
            </h1>
          </div>
        </div>
        <div class="col-6 text-end">
          <div class="right-icons">
            <ul class="text-blanco float-end">
              <li class="nav-item ms-3 dropdown">
                <!-- Avatar -->
                <a
                  class="avatar avatar-sm p-0"
                  href="#"
                  id="profileDropdown"
                  role="button"
                  data-bs-auto-close="outside"
                  data-bs-display="static"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    class="avatar-img"
                    src="assets/images/icon_user.png"
                    alt=""
                    style="width: 35px"
                  />
                </a>

                <ul
                  class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-4 bg-white"
                  aria-labelledby="profileDropdown"
                  style="text-align: center; border-radius: 20px"
                >
                  <!-- Links -->
                  <li *ngIf="!isAutenticated">
                    <a
                      class="dropdown-item btn mb-3 text-center"
                      (click)="loginPersonaNatural()"
                      style="display: flow-root !important"
                      >Persona natural</a
                    >
                  </li>
                  <li *ngIf="!isAutenticated">
                    <a
                      class="dropdown-item btn mb-3 text-center"
                      (click)="loginPersonaJuridica()"
                      style="display: flow-root !important"
                      >Persona juridica</a
                    >
                  </li>
                  <li *ngIf="isAutenticated">
                    <a
                      class="dropdown-item btn mb-3 text-center"
                      (click)="profile()"
                      style="display: flow-root !important"
                      >Perfil</a
                    >
                  </li>
                  <div *ngIf="isAutenticated" class="main-button-azul mb-4">
                    <a class="text-white" (click)="logout()"> Cerrar sesión</a>
                  </div>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
