<section class="meetings-page">
  <div class="container">
    <div class="row pt-4">
      <div class="section-heading title" align="left">
        <h2 style="margin-bottom: 0; padding-bottom: 10px">
          Test de Autodiagnóstico
        </h2>
      </div>
    </div>
    <div class="row pt-4">
      <ng-stepper #stepper [linear]="true">
        <cdk-step
          [completed]="modulo.completado"
          *ngFor="
            let modulo of test?.modulos;
            let first = first;
            let last = last;
            let index = index
          "
        >
          <ng-template cdkStepLabel>
            <div class="step-bullet">{{ modulo.orden }}</div>
          </ng-template>

          <app-test-autodiagnostico-modulo
            [first]="first"
            [last]="last"
            [modulo]="modulo"
            (onStepperPrevious)="onStepperPrevious()"
            (onStepperNext)="onStepperNext($event, index)"
            (onStepperFinish)="onStepperFinish($event, index)"
          ></app-test-autodiagnostico-modulo>
        </cdk-step>
      </ng-stepper>
    </div>
  </div>
</section>
