<!-- ***** Main Banner Area Start ***** -->
<section class="section"  data-section="section1">
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let banner of listBanner let i = index"  [ngClass]="{'active': i == 0 }" data-bs-interval="8000">
              <img class="d-block w-100" src="assets/images/{{banner.foto}}"/>

              <div class="carousel-caption d-none d-md-block">
                <h3 class="text-white" style="font-size: 2.9rem">{{ banner.titulo }}</h3>
                <h1 class="text-white mt-0" style="font-size: 1.4rem">{{ banner.nombre_empresa }}</h1>
                <h1 class="text-white mt-0" style="font-size: 1rem">{{ banner.tipo_empresa }}</h1>
                <h1 class="text-white" style="font-size: 1.3rem"><a href="#" class="text-white">{{ banner.url_web }}</a></h1>
                <div class="main-button-red mt-4">
                  <div class="catalogo_premios.html"><a href="#">¡Quiero iniciar mi test!</a></div>
                </div>
              </div>
            </div>
          </div>
          
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->


<section class="upcoming-meetings" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading" align="center">
          <h2>¡Únete al programa de capacitación Ruta Digital!
</h2>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6" align="center">
            <div class="meeting-item">
              <div class="thumb">
                <a href="#"><img src="assets/images/pm1_2.png" alt="New Lecturer Meeting"></a>
              </div>
              <div class="down-content">
                <a href="#"><h4>Paso 1</h4></a>
                <p><strong>Registra tu negocio en Ruta Digital</strong><br>
                Con tu RUC y DNI </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6" align="center">
            <div class="meeting-item">
              <div class="thumb">
                <a href="#"><img src="assets/images/pm1_1.png" alt="New Lecturer Meeting"></a>
              </div>
              <div class="down-content">
                <a href="#"><h4>Paso 2</h4></a>
                <p><strong>Completo el test de autodiagnóstico</strong><br>
                Para entender como gestionas tu negocio y brindarte recomendaciones de capacitación </p>
              </div>
            </div>
          </div>
    
      <div class="col-lg-6" align="center">
            <div class="meeting-item">
              <div class="thumb">
                <a href="#"><img src="assets/images/pm1_3.png" alt="New Lecturer Meeting"></a>
              </div>
              <div class="down-content">
                <a href="#"><h4>Paso 3</h4></a>
                <p><strong>Aplica lo aprendido</strong><br>
                Y empieza a incrementar tus ventas </p>
              </div>
            </div>
          </div>
      
      <div class="col-lg-6" align="center">
            <div class="meeting-item">
              <div class="thumb">
                <a href="#"><img src="assets/images/pm1_4.png" alt="New Lecturer Meeting"></a>
              </div>
              <div class="down-content">
                <a href="#"><h4>Paso 4</h4></a>
                <p><strong>Gana puntos y sube de nivel</strong><br>
                Por completar con tus recomendaciones y canjea muchos premios</p>
              </div>
            </div>
          </div>
          
        </div>
    
    <div class="col-12" align="center">
    <div class="main-button-red mt-5">
                <div class=""><a href="#">¡Quiere iniciar mi test!</a></div>
            </div>
    </div>
    
      </div>
    </div>
  </div>
</section>

    <div class="barra-azul">
              <marquee behavior="scroll" direction="left" style="opacity: 0.5">¡Canjea grandes premios por capacitarte! ¡Canjea grandes premios por capacitarte! ¡Canjea grandes premios por capacitarte!</marquee>
          </div>

<section class="apply-now" id="apply">
  
  <div class="container apply-now-img ">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="row">
          <div class="col-lg-12">
            
          </div>
          <div class="col-lg-12">
            <div class="item">
       <p>Se parte de los</p>
              <h3>¡CyberWow!</h3>
              <div class="main-button-yellow">
                <div class="catalogo_premios.html"><a href="#">Ir a Catálogo de premios</a></div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        
      </div>
    </div>
  </div>
</section>


<section class="our-courses" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2 align="center" class="text-white" style="border-bottom: 1px solid #fff;"><span style="font-weight: 500">Nuestros</span> próximos eventos</h2>
        </div>
      </div>

      <div class="col-lg-12">
      <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let slide of listEvento">
          <ng-template carouselSlide id="slide.id">
            <div class="item" style="padding: 10px;">
              <img src="assets/images/evento/{{slide.foto}}"/>
              <div class="down-content pt-4">
                <h4>{{slide.nombre}}<br>
                <span style="font-size: 14px; font-weight: 400">{{slide.descripcion_corta}}</span>
                 </h4>
                <div class="info">
                  <div class="row">
                    <ng-container *ngIf="slide.id_tipo_modalidad == 2">
                      <div class="col-3">
                        <img src="assets/images/icon_video.png" style="max-width: 30px"> 
                      </div>
                      <div class="col-9 p-0 py-2">
                         <span>EVENTO {{slide.modalidad}}</span>
                      </div>
                      <p class="py-2 pb-4" style="font-size: 14px; font-weight: 400; white-space: wrap; line-height: 13px">{{slide.lugar}}:</p>
                      <p class="py-2 pb-4" style="font-size: 14px; font-weight: 400; white-space: wrap; line-height: 13px">{{slide.url_evento}}</p>

                    </ng-container>
                   
                    <ng-container *ngIf="slide.id_tipo_modalidad == 1">
                      <div class="col-3">
                        <img src="assets/images/icon_video.png" style="max-width: 30px"> 
                      </div>
                      <div class="col-9 p-0 py-2">
                         <span>LUGAR</span>
                      </div>
                      <p class="py-2 pb-4" style="font-size: 14px; font-weight: 400; white-space: wrap; line-height: 13px">{{slide.lugar}}</p>
                      <p class="py-2 pb-4" style="font-size: 14px; font-weight: 400; white-space: wrap; line-height: 13px">{{slide.direccion}}</p>
                    </ng-container>
                   
                    
                    <div class="col-3">
                      <img src="assets/images/icon_calendario.png" style="max-width: 30px"> 
                    </div>
                    <div class="col-9 p-0 py-2">
                       <span>Fecha</span>
                    </div>
                    <p class="py-2 pb-4" style="font-size: 14px; font-weight: 400; white-space: wrap; line-height: 13px">{{slide.fecha_evento}}</p>
                    <a href="eventos.html" style="text-align: right"> Ver más <i class="fa fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
         </ng-template>>
       </ng-container>      
     </owl-carousel-o>
    </div>
  </div>
 </div>
</section>


<section class="our-facts" id="22">
  <div class="container">
    <div class="row">
      <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner" id="33">
          <div class="carousel-item active" *ngFor="let banner of listPiePagina let i = index"  [ngClass]="{'active': i == 0 }" data-bs-interval="8000"> 
            <img class="d-block w-100" src="assets/images/{{banner.foto}}"/>

            <div class="carousel-caption2 d-md-block">
              <div class="row pt-5">
                <div class="col-lg-6 pt-5">
                  <p class="texto-bannerp px-5 pe-0">{{banner.descripcion}}</p>
                </div>
                <div class="col-lg-6 pt-5" align="center">
                  <img class="img-fluid" src="assets/images/{{banner.logo}}">
                  <div class="main-button-yellow mt-5" align="center">
                    <div class=""><a target="_blank" href="{{banner.url_web}}">¡Ingresa aquí!</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      
    </div>
  </div>
</div>  

</section>

