<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="pb-5" style="z-index: 5">
				<div style="background-color:#1D71B8; height: 2px; width: 100%; position: relative;top: 20px; "></div>
				<a class="btn btn-azulredondo rounded-circle" role="button" aria-disabled="true">{{numero}}</a>
				<div class="btn-bordeazul rounded-circle position-relative float-end"></div>
			</div>
		</div>
		<p class="fs-3 pb-5">{{pregunta}}</p>
	</div>
</div>
<div class="container">
	<div class="row mb-5">
		<div class="col-12" align="center">
			<div class="" role="group" aria-label="Basic checkbox toggle button group">
				<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
				<label class="btn btn-blanco" for="btncheck1">Sí, usamos redes sociales</label>

				<input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
				<label class="btn btn-blanco" for="btncheck2">NO, usamos redes sociales</label>

				<input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
				<label class="btn btn-blanco" for="btncheck3">Sí, usamos redes sociales</label>

				<input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
				<label class="btn btn-blanco" for="btncheck4">Sí, usamos redes sociales</label>
			</div>
		</div>

	</div>
</div>