
  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading" align="left">
            <h2 style="margin-bottom: 0; padding-bottom: 10px">Catálogo de premios</h2>
			      <span class="">Canjea tus PuntosProduce</span>
          </div>
		</div>
			
		 <!-- Carousel Start -->
    

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">

        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/images/banner_PM.png"/> 
          <div class="carousel-caption d-md-block">
				 <p>Se parte de los</p>
                <h3>¡CyberWow!</h3>
                <div class="main-button-yellow">
                  <div class="catalogo_premios.html"><a href="#">Ir a Catálogo de premios</a></div>
              </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">

        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

        <span class="visually-hidden">Previous</span>

      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">

        <span class="carousel-control-next-icon" aria-hidden="true"></span>

        <span class="visually-hidden">Next</span>

      </button>

    </div>
		   </div>
      </div>

     </section> 
    <!-- Carousel End -->
				
		<section class="our-courses bg-white" id="courses"> 
        <div class="contrainer">
			<div class="col-lg-12">
          <div class="count-area-content mb-5">
                    <div class="count-digit counter-loaded">1230</div>
                    <div class="count-title"> Tus puntos disponibles </div>
                  </div>
				 </div>
				
			<div class="container">
				<div class="row">
					<div class="col-lg-3" align="center"></div>
				<div class="col-lg-3" align="center">
					
				<div class="count-digit2 counter-loaded" style="border-right: 5px solid #089F42;">980</div>
                    <div class="count-title"> Puntos canjeados </div>
			</div>
				<div class="col-lg-3" align="center">
				<div class="count-digit2 counter-loaded">1320</div>
                    <div class="count-title"> Puntos canjeados </div>
			</div>
					<div class="col-lg-3" align="center"></div>
				
				</div>
				</div>
				
			</div>
			
	</section> 
	
<section class="our-courses bg-white p-0 m-0" id="">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <owl-carousel-o [options]="customOptions" >
              <ng-container >
                <ng-template carouselSlide id="slide.id">
                    <div class="item" style="padding: 10px;">
                        <img src="assets/images/icon_5.png" alt="Course One" style="max-width: 100px">
                        <div class="down-content">
                          <div class="info">
                            Cursos
                          </div>
                        </div>
                      </div>
               </ng-template>>
             </ng-container>      
           </owl-carousel-o>
          </div>
      </div>
    </div>
  </section>
	
	<section class="our-courses bg-white pb-0" id="">
     <div class="container">
       <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Nuevos premios</h2>
          </div>
        </div>
		  <div class="col-lg-6">
			  		  <h1 class="vermas"><a href="catalogo_premios_todos.html">Ver más <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></h1>

		  </div>


          <div class="col-lg-12">
            <owl-carousel-o [options]="customOptions" >
              <ng-container >
                <ng-template carouselSlide id="slide.id">
                  <div class="item col-12 fact-item" style="padding: 10px;">
                    <div class="position-absolute"><img class="px-3" src="assets/images/et_verde.png" alt=""></div>
                    <img src="assets/images/premios_img_1.png" alt="Course One">
                      <div class="etiqueta_nuevo"><img class="px-3" src="assets/images/et_nuevo.png" alt=""></div>
                    <div class="down-content">
                      <h5 class="mb-0">CyberWow</h5>
                        1 cupo por edición
                      <div class="info px-0">
                        <div class="row px-0 mx-0 subt-nuevospremios">
                          500<br>
                        <strong class="p-0">PUNTOS<br> PRODUCE</strong> </div>
                          <div class="main-button-yellowp mt-3" align="center">
                        <div class="catalogo_premios_detalle.html"><a href="#">¡Lo quiero!</a></div>
                       </div>
                      </div>
                    </div>
                    </div>
                    </ng-template>
                 </ng-container>
             </owl-carousel-o>
         </div>
      </div>
    </div>
  </section><br><br>
	
	<section class="our-courses bg-white pt-0" id="">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Premios por nivel</h2>
          </div>
        </div>
		  <div class="col-lg-6">
			  		  <h1 class="vermas"><a href="catalogo_premios_todos.html">Ver más <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></h1>

		  </div>
          <div class="col-lg-12">
            <owl-carousel-o [options]="customOptions" >
              <ng-container >
                <ng-template carouselSlide id="slide.id">
                  <div class="item col-12 fact-item" style="padding: 10px;">
                    <div class="position-absolute"><img class="px-3" src="assets/images/et_verde.png" alt=""></div>
                    <img src="assets/images/premios_img_1.png" alt="Course One">
                      <div class="etiqueta_nuevo"><img class="px-3" src="assets/images/et_nuevo.png" alt=""></div>
                    <div class="down-content">
                      <h5 class="mb-0">CyberWow</h5>
                        1 cupo por edición
                      <div class="info px-0">
                        <div class="row px-0 mx-0 subt-nuevospremios">
                          500<br>
                        <strong class="p-0">PUNTOS<br> PRODUCE</strong> </div>
                          <div class="main-button-yellowp mt-3" align="center">
                        <div class="catalogo_premios_detalle.html"><a href="#">¡Lo quiero!</a></div>
                       </div>
                      </div>
                    </div>
                    </div>
                    </ng-template>
                 </ng-container>
             </owl-carousel-o>
         </div>
      </div>
    </div>
  </section>

