
  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading" align="left">
            <h2 style="margin-bottom: 0; padding-bottom: 10px">Catálogo de premios</h2>
			      <span class="">Canjea tus PuntosProduce</span>
          </div>
		</div>
			
		 <!-- Carousel Start -->
    

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner" >

        <div class="carousel-item active" *ngFor="let banner of listBanner let i = index" [ngClass]="{'active': i == 0 }" data-bs-interval="8000">

          <img class="d-block w-100" [src]="banner.imagenPremioPublicidad"/>
          <div class="carousel-caption d-md-block">
				 <p>Se parte de los</p>
                <h3>¡CyberWow!</h3>
                <div class="main-button-yellow">
                  <div class="catalogo_premios.html"><a href="#">Ir a Catálogo de premios</a></div>
              </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">

        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

        <span class="visually-hidden">Previous</span>

      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">

        <span class="carousel-control-next-icon" aria-hidden="true"></span>

        <span class="visually-hidden">Next</span>

      </button>

    </div>
		   </div>
      </div>

     </section> 
    <!-- Carousel End -->
				
		<section class="our-courses bg-white" id="courses"> 
        <div class="contrainer">
			<div class="col-lg-12">
          <div class="count-area-content mb-5">
                    <div class="count-digit counter-loaded">1230</div>
                    <div class="count-title"> Tus puntos disponibles </div>
                  </div>
				 </div>
				
			<div class="container">
				<div class="row">
					<div class="col-lg-3" align="center"></div>
				<div class="col-lg-3" align="center">
					
				<div class="count-digit2 counter-loaded" style="border-right: 5px solid #089F42;">980</div>
                    <div class="count-title"> Puntos canjeados </div>
			</div>
				<div class="col-lg-3" align="center">
				<div class="count-digit2 counter-loaded">1320</div>
                    <div class="count-title"> Puntos canjeados </div>
			</div>
					<div class="col-lg-3" align="center"></div>
				
				</div>
				</div>
				
			</div>
			
	</section> 

  <section class="our-courses bg-white p-0 m-0" id="">
     <div class="container">
      <div class="row">
     <div class="col-lg-12 ml-2">
     <owl-carousel-o [options]="customOptions">
       <ng-container   *ngFor="let tipo of listTipoPremio let i = index">
         <ng-template  carouselSlide id="slide.id">
          <div class="item fact-item"  style="padding: 10px;" align="center">
          <img [src]="tipo.imagenTipoPremio" alt="Course One"  style="max-width: 100px">
          <div class="down-content">
          <div class="info">
            {{tipo.descripcion}}
          </div>
        </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  </div>
  </div>
</div>
</section>

	
	<section class="our-courses bg-white pb-0" id="">
     <div class="container">
       <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Nuevos premios</h2>
          </div>
        </div>
		  <div class="col-lg-6">
        <h1 class="vermas"><a [routerLink]="['/premios-listado']">Ver más <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></h1>
		  </div>


      <div class="col-lg-12">
        <owl-carousel-o class="item fact-item" [options]="customOptions">
          <ng-container   *ngFor="let nuevo of listNuevoPremio let i = index">
            <ng-template  carouselSlide id="slide.id">
              <div class="item fact-item"  style="padding: 10px;" align="center">
              <div class="position-absolute"><img class="px-3" src="assets/images/et_verde.png" alt=""></div>
              <!-- <img src="assets/images/premios_img_1.png" alt="Course One"> -->
              <img [src]="nuevo.imagenPremio" alt="Course One"/>
                <div class="etiqueta_nuevo"><img class="px-3" src="assets/images/et_nuevo.png" alt=""></div>
              <div class="down-content">
                <h5 class="mb-0">{{nuevo.nombre}}</h5>
                {{nuevo.descripcion_corta}}
                <div class="info px-0">
                  <div class="row px-0 mx-0 subt-nuevospremios">
                    {{nuevo.puntos_produce}}<br>
                  <strong class="p-0">PUNTOS<br> PRODUCE</strong> </div>
                    <div class="main-button-yellowp mt-3" align="center">
                  <div class="catalogo_premios_detalle.html"><a href="#">¡Lo quiero!</a></div>
                 </div>
                </div>
              </div>
              </div>
         </ng-template>
       </ng-container>
     </owl-carousel-o>
     </div>
<br><br>
	
	<section class="our-courses bg-white pt-0" id="">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Premios por nivel</h2>
          </div>
        </div>
		  <div class="col-lg-6">
			  		  <h1 class="vermas"><a [routerLink]="['/premios-listado']">Ver más <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></h1>
		  </div>
      <div class="col-lg-12">
        <owl-carousel-o class="item fact-item" [options]="customOptions">
          <ng-container   *ngFor="let nivel of listNivelPremio let i = index">
            <ng-template   carouselSlide id="slide.id">
              <div class="item" style="padding: 10px;">
              <div class="position-absolute"><img class="px-3" src="assets/images/et_verde.png" alt=""></div>
              <img [src]="nivel.imagenPremio" alt="Course One"/>
                <div class="etiqueta_nuevo"><img class="px-3" src="assets/images/et_nuevo.png" alt=""></div>
                <div class="down-content">
                  <h5 class="mb-0">{{nivel.nombre}}</h5>
                  {{nivel.descripcion_corta}}
                  <div class="info px-0">
                    <div class="row px-0 mx-0 subt-nuevospremios">
                      {{nivel.puntos_produce}}<br>
                    <strong class="p-0">PUNTOS<br> PRODUCE</strong> </div>
                      <div class="main-button-yellowp mt-3" align="center">
                    <div class="catalogo_premios_detalle.html"><a href="#">¡Lo quiero!</a></div>
                   </div>
                  </div>
                </div>
                </div>
         </ng-template>
       </ng-container>
     </owl-carousel-o>
     </div>
      </div>
    </div>
  </section>

