<section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-regresar">
	<i class="fa fa-arrow-left"> <a href="index.html"><span class="text-regresar">Regresar</span></a></i>
	</div>
      </div>
    </div>
  </section>
  

    <section class="apply-now" id="apply2">
	  <div class="container pb-5">
      	<div class="row">

 <div class="col-lg-12">
          <div class="section-heading" align="left">
			  <span class="">Recomendacion#1</span>
            <h2 style="margin-bottom: 0; padding-bottom: 10px">Marketing Digital</h2>
          </div>
		  </div>
		  <div class="col-lg-10 mx-auto">
          <div class="section-heading pt-5" align="left">
            <span class="titu_cap">Crea un plan de Marketing digital y empieza a vender más en redes sociales</span>
          </div>
			  </div>
			<div class="col-lg-9 mx-auto mt-3">
				<p class="texto-p-niveles fs-5 fw-bold"><i><img src="assets/images/icon_avionverde.png" width="35" height="35" alt=""/></i>
				¿Por qué esto es importante para mi negocio?</p>
				<p class="pt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
		  </div>
			<div class="col-lg-9 mx-auto mt-3">
				<p class="texto-p-niveles fs-5 fw-bold"><i><img src="assets/images/icon_idea.png" width="35" height="35" alt=""/></i>
				¿Cómo puedo empezar?</p>
				<p class="pt-2">Hemos seleccionado los siguientes recursos para que puedas explorarlos y aplicarlos en tu negocio:</p>
				
				<p class="pt-3 text-azul fw-bold fs-5 pb-1">Paso #01</p>
				<p class="pt-2"><i><img src="assets/images/icon_camaraverde.png" width="35" height="35" alt=""/></i>
				<span class="texto-p-niveles fs-5 fw-bold"> Mira el video:</span> La importancia de las redes sociales en el marketing digital</p>
				
				
				<div class="mx-auto col-8 mt-3" align="center"><img class="img-responsive" src="assets/images/IMG_6723.png" alt=""/></div>
				
				<p class="pt-3 pb-3">También te recomendamos explorar las siguientes herramientas y recursos:</p>
				<p class="pt-2"><i><img src="assets/images/icon_herrammienta.png" width="35" height="35" alt=""/></i>
				<span class="texto-p-niveles fs-5 fw-bold">  Platzi:</span> Curso gratuito para crear tu primer plan de marketing digital</p>
				<p class="pt-2"><i><img src="assets/images/icon_herrammienta.png" width="35" height="35" alt=""/></i>
				<span class="texto-p-niveles fs-5 fw-bold"> HubSpot: </span> Plantilla gratuita para diseñar tu estrategia de maketing digital</p>
				
			  <p class="pt-3 text-azul fw-bold fs-5 pb-1">Paso #02</p>
				<p class="pt-2"><i><img src="assets/images/icon_camaraverde.png" width="35" height="35" alt=""/></i>
				<span class="texto-p-niveles fs-5 fw-bold"> Mira el video:</span> La importancia de las redes sociales en el marketing digital</p>
				
				<div class="mx-auto col-8 mt-3" align="center"><img class="img-responsive" src="assets/images/IMG_6723.png" alt=""/></div>
				
				<p class="pt-3 pb-3">También te recomendamos explorar las siguientes herramientas y recursos:</p>
				<p class="pt-2"><i><img src="assets/images/icon_herrammienta.png" width="35" height="35" alt=""/></i>
				<span class="texto-p-niveles fs-5 fw-bold">  Platzi:</span> Curso gratuito para crear tu primer plan de marketing digital</p>
				
				<div class="col-12 pt-5 pb-5" align="center">
					<div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">¡Pon a prueba lo aprendido!</a></div>
              </div>
				</div>
				
				<div class="row pb-5" align="center">
					<p class="texto-p-niveles fs-5 fw-bold pt-4 mt-4 pb-3">¿Qué tan útil fue para ti esta recomendación?</p>
					
					<div class="col-12 mx-auto">
					<div class="col"><i class="fa fa-star fa-2x text-warning px-3"></i><i class="fa fa-star fa-2x text-warning px-3"></i><i class="fa fa-star fa-2x text-warning px-3"></i><i class="fa fa-star fa-2x text-warning px-3"></i><i class="fa fa-star fa-2x px-3 text"></i></div>
					</div>
					</div>
		  </div>
	    </div>
		  </div>
  </section>

