<section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading mb-5 pt-5" align="center">
			  <h4 class="pb-3">Hola Mariel</h4>
            <h2 class="mb-0 pb-0">La Aprendedora</h2>
			  El nivel de digitalización de tu negocio va en:
          </div>
        </div>
		  
		  

    <div class="col-xl-12 col-lg-6 mb-4" align="center">
      <div class="">

      <div class="circular">
    <div class="inner">
    </div>
    <div class="outer">
    </div>
    <div class="numb">
        0%</div>
    <div class="circle">
        <div class="dot">
            <span></span>
        </div>
        <div class="bar left">
            <div class="progress">
            </div>
        </div>
        <div class="bar right">
            <div class="progress">
            </div>
        </div>
    </div>
</div>

      </div>
    </div>


        <div class="col-lg-12">
			 
			  
			   <div class="row">
				   
			     <div class="col-lg-12">
					   <div class="col-12">
                  <div class="new-students">
					  <div class="etiqueta_corona"><img class="" src="assets/images/icon_corona.png" alt=""></div>
                    <h1 class="text-white mb-0 pb-0 pt-0"><strong>Básico</strong></h1>
                    <div class="count-title text-white pb-4">Nivel de digitalización</div>
                  </div>
                </div>
					   </div>
			  
				   
			     <div class="col-lg-12 mb-5 p-4">
			
				<div class="num-calendario pb-5 text-center" style="font-size: 1.3rem">
				Te recomendamos seguir esta <strong>ruta de capacitación</strong> para llegar al siguiente nivel
				</div>
					 
			
				<div class="row">
					<div class="col-12" align="center">
				<a class="btn mb-4 niveles_autodiagnostico" aign="center">
					<div style="width: 130px"><div class="circle-avance-verde">1</div></div>
				<div class="mb-1 circle-avance" align="center">
					<span class="subt-nivel mt-5">Nivel Básico</span>
					</div>
					<span style="font-size: 1rem">Marketing Digital</span> 
					</a>
				<a class="btn mb-4 niveles_autodiagnostico" align="center">
					<div style="width: 130px"><div class="circle-avance-verde">2</div>
				<div class="mb-1 circle-avance" align="center">
					<span class="subt-nivel">Nivel<br/> Incial</span>
					</div>
					<span style="font-size: 1rem">Comercio electrónico</span> 
					</div>
					</a>
					<a class="btn mb-4 niveles_autodiagnostico" align="center">
					<div style="width: 130px"><div class="circle-avance-verde">3</div></div>
				<div class="mb-1 circle-avance" align="center">
					<span class="subt-nivel">Nivel<br/>
                         Básico</span>
					</div>
					<span style="font-size: 1rem">Gestión Empresarial</span> 
					</a>
					<a class="btn mb-4 niveles_autodiagnostico" align="center">
					<div style="width: 130px"><div class="circle-avance-verde">4</div></div>
				<div class="mb-1 circle-avance" align="center">
					<span class="subt-nivel">Nivel Básico</span>
					</div>
					<span style="font-size: 1rem">Finanzas</span> 
					</a>
					<a class="btn mb-4 niveles_autodiagnostico" align="center">
					<div style="width: 130px"><div class="circle-avance-verde">5</div></div>
				<div class="mb-1 circle-avance" align="center">
					<span class="subt-nivel">Nivel Inicial</span>
					</div>
					<span style="font-size: 1rem">Medios de pago</span> 
					</a>
					<a class="btn mb-4 niveles_autodiagnostico" align="center">
					<div style="width: 130px"><div class="circle-avance-verde">6</div></div>
				<div class="mb-1 circle-avance" align="center">
					<span class="subt-nivel">Nivel Básico</span>
					</div>
					<span style="font-size: 1rem">Análisis de datos</span> 
					</a>
					 
					 </div>
					 </div>
					 
					 
					 <div class="col-lg-12 pb-2" align="center">
						 <h5>Recuerda que para subir de nivel debes completar las recomendaciones del nivel más alto en el que te encuentres</h5>
					 </div>
					 
					 <div class="col-lg-12 pb-5" align="center">
						 <p>Estos son los 5 niveles en Ruta Digital</p>
					 </div>
			
					 
					 <div class="col-lg-12">
				<div class="row">
					
					<div class="col-lg-1" align="center"></div>
					
				<div class="col-lg-2" align="center">
				<div class="new-niveles-on pb-3 mb-4">
					  <div class="etiqueta_coronap pt-4"></div>
                    <h6 class="text-white pt-0"><strong>Inicial</strong></h6>
                  </div>
					</div>
					
					<div class="col-lg-2" align="center">
				<div class="new-niveles pb-3 mb-4">
					  <div class="etiqueta_coronap"><img class="" src="assets/images/icon_coronap.png" alt=""></div>
                    <h6 class="text-white pt-0"><strong>Básico</strong></h6>
                  </div>

					</div>
					
					<div class="col-lg-2" align="center">
				<div class="new-niveles-on pb-3 mb-4">
					  <div class="etiqueta_coronap pt-4"></div>
                    <h6 class="text-white pt-0"><strong>Intermedio</strong></h6>
                  </div>
					</div>
					
					<div class="col-lg-2" align="center">
				<div class="new-niveles-on pb-3 mb-4">
					  <div class="etiqueta_coronap pt-4"></div>
                    <h6 class="text-white pt-0"><strong>Avanzado</strong></h6>
                  </div>
					</div>
					
					<div class="col-lg-2" align="center">
				<div class="new-niveles-on pb-3 mb-4">
					  <div class="etiqueta_coronap pt-4"></div>
                    <h6 class="text-white pt-0"><strong>Experto</strong></h6>
                  </div>
					</div>
					<div class="col-lg-1" align="center"></div>
					
					</div>
						 </div>
					 
				
			
	
	</div>
				   
				  
            </div>
            
          </div>
		  </div>
	</div>
			
  </section>
