
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-regresar">
	<i class="fa fa-arrow-left"> <a href="index.html"><span class="text-regresar"> Regresar</span></a></i>
	</div>
      </div>
    </div>
  </section>

  
  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="section-heading mb-5" align="left">
			  <h4 class="pb-3">Hola Mariel</h4>
            <h2 class="mb-0 pb-0">La Aprendedora</h2>
			  El nivel de digitalización de tu negocio va en:
          </div>
        </div>
		  
		  

    <div class="col-xl-3 col-lg-6 mb-4" align="center">
      <div class="">

       <div class="circular">
    <div class="inner">
    </div>
    <div class="outer">
    </div>
    <div class="numb">
        0%</div>
    <div class="circle">
        <div class="dot">
            <span></span>
        </div>
        <div class="bar left">
            <div class="progress">
            </div>
        </div>
        <div class="bar right">
            <div class="progress">
            </div>
        </div>
    </div>
</div>

      </div>
    </div>


        <div class="col-lg-12">
			 
			  
			   <div class="row">
				   
			     <div class="col-lg-3">
					   <div class="col-12">
                  <div class="new-students">
					  <div class="etiqueta_corona"><img class="" src="assets/images/icon_corona.png" alt=""></div>
                    <h1 class="text-white mb-0 pb-0 pt-0"><strong>Básico</strong></h1>
                    <div class="count-title text-white pb-4">Nivel de digitalización</div>
                  </div>
                </div>
					   </div>
			  
				   
			     <div class="col-lg-9 mb-5 p-4 box-avance">
			
				<div class="num-calendario pb-5 redes1 text-center" style="font-size: 30px">
				Te recomendamos seguir esta <strong>ruta de capacitación</strong> para llegar al siguiente nivel
				</div>
					 
			<div class="col-lg-12">
				<div class="row">
					<div class="col-12" align="center">
				<a class="btn mb-4 niveles_autodiagnostico" aign="center">
					<div style="width: 130px"><div class="circle-avance-verde">1</div></div>
				<div class="mb-1 circle-avance" align="center">
					<span class="subt-nivel mt-5">Nivel Básico</span>
					</div>
					<span style="font-size: 1rem">Marketing Digital</span> 
					</a>
				<a class="btn mb-4 niveles_autodiagnostico" align="center">
					<div style="width: 130px"><div class="circle-avance-verde">2</div>
				<div class="mb-1 circle-avance" align="center">
					<span class="subt-nivel">Nivel Incial</span>
					</div>
					<span style="font-size: 1rem">Comercio electrónico</span> 
					</div>
					</a>
					<a class="btn mb-4 niveles_autodiagnostico" align="center">
					<div style="width: 130px"><div class="circle-avance-verde">3</div></div>
				<div class="mb-1 circle-avance" align="center">
					<span class="subt-nivel">Nivel Básico</span>
					</div>
					<span style="font-size: 1rem">Gestión Empresarial</span> 
					</a>
					<a class="btn mb-4 niveles_autodiagnostico" align="center">
					<div style="width: 130px"><div class="circle-avance-verde">4</div></div>
				<div class="mb-1 circle-avance" align="center">
					<span class="subt-nivel">Nivel Básico</span>
					</div>
					<span style="font-size: 1rem">Finanzas</span> 
					</a>
					<a class="btn mb-4 niveles_autodiagnostico" align="center">
					<div style="width: 130px"><div class="circle-avance-verde">5</div></div>
				<div class="mb-1 circle-avance" align="center">
					<span class="subt-nivel">Nivel Inicial</span>
					</div>
					<span style="font-size: 1rem">Medios de pago</span> 
					</a>
					<a class="btn mb-4 niveles_autodiagnostico" align="center">
					<div style="width: 130px"><div class="circle-avance-verde">6</div></div>
				<div class="mb-1 circle-avance" align="center">
					<span class="subt-nivel">Nivel Básico</span>
					</div>
					<span style="font-size: 1rem">Análisis de datos</span> 
					</a>
					 
					 </div>
					 </div>
					 </div>
					 
					 <div class="col-lg-12 pt-5 pt-5 pb-5" align="center">
						 <h5>Tú puedes iniciar el camino de que más te guste y empezar a capacitarte </h5>
					 </div>
					 
					 <div class="col-lg-12 pb-2" align="center">
						 <h5><strong>Recuerda que para subir de nivel debes completar las recomendaciones del nivel más alto en el que te encuentres</strong></h5>
					 </div>
					 
					 <div class="col-lg-12 pb-2" align="center">
						 <h2>Estos son los 5 niveles en Ruta Digital</h2>
					 </div>
					 
					 <div class="col-lg-12 pb-5" align="center">
						 <h5>Actualmente te encuentras en <strong>nivel básico</strong> Para pasar a <strong>nivel intermedio</strong> debes completar las recomendaciones </h5>
					 </div>
					 
					 <div class="col-lg-12">
				<div class="row">
					
					<div class="col-lg-1" align="center"></div>
					
				<div class="col-lg-2" align="center">
				<div class="new-niveles-on pb-3 mb-4">
					  <div class="etiqueta_coronap pt-4"></div>
                    <h6 class="text-white pt-0"><strong>Inicial</strong></h6>
                  </div>
				
					</div>
					
					<div class="col-lg-2" align="center">
				<div class="new-niveles pb-3 mb-4">
					  <div class="etiqueta_coronap"><img class="" src="assets/images/icon_coronap.png" alt=""></div>
                    <h6 class="text-white pt-0"><strong>Básico</strong></h6>
                  </div>
						
					</div>
					
					<div class="col-lg-2" align="center">
				<div class="new-niveles-on pb-3 mb-4">
					  <div class="etiqueta_coronap pt-4"></div>
                    <h6 class="text-white pt-0"><strong>Intermedio</strong></h6>
                  </div>
					</div>
					
					<div class="col-lg-2" align="center">
				<div class="new-niveles-on pb-3 mb-4">
					  <div class="etiqueta_coronap pt-4"></div>
                    <h6 class="text-white pt-0"><strong>Avanzado</strong></h6>
                  </div>
					</div>
					
					<div class="col-lg-2" align="center">
				<div class="new-niveles-on pb-3 mb-4">
					  <div class="etiqueta_coronap pt-4"></div>
                    <h6 class="text-white pt-0"><strong>Experto</strong></h6>
                  </div>
					</div>
					<div class="col-lg-1" align="center"></div>
					
					</div>
						 </div>
					 
				
			
	
	</div>
				   
				  
            </div>
            
          </div>
		  
		  <div class="col-lg-12">
				<div class="row">
					<div class="section-heading mb-5" align="left">
            <h2 class="mb-0 pb-0">Tus estadísticas</h2>
          </div>
			 </div>
			   </div>
		  
		  <div class="col-lg-12">
				<div class="row">
					<div class="col-lg-2" align="center"></div>
					<div class="col-lg-3" align="center">
						<p class="pb-4"><img src="assets/images/icon_fuego.png"></p>
						<h2 class="num-estadisticas">3</h2>
						<p class="texto-estadisticas">Días seguidos de capacitación</p>
					</div>
					
					<div class="col-lg-3" align="center">
						<p class="pb-4"><img src="assets/images/icon_rayo.png"></p>
						<h2 class="num-estadisticas">1230</h2>
						<p class="texto-estadisticas">Puntos produce acumulados</p>
					</div>
					
					<div class="col-lg-3" align="center">
						<p class="pb-4"><img src="assets/images/icon_maleta.png"></p>
						<h2 class="num-estadisticas">2</h2>
						<p class="texto-estadisticas">Premios canjeados</p>
					</div>
					
					<div class="col-lg-2" align="center"></div>
					
					<div class="col-lg-4"> 
					</div>
					
					<div class="col-lg-4"> 
					</div>
					
			 </div>
			   </div>
		  
		  <div class="col-lg-4 pt-5"> 
			  <div class="row pt-3 pb-3">
                  <div class="col-3" align="center"><img src="assets/images/icon_fuego.png" width="40px"></div>
				  <div class="col-9 px-0"><h2 class="titu_cap">Tu tiempo de capacitación</h2></div>
                </div>
			  
			  <div class="col-12">
				  
                  <div class="box_capacitacion mb-1 mt-4 pt-2 pb-2">
					  <div class="row" style="justify-content: space-around; align-items: center;">
					  <div class="col-2 px-0" align="center">
						<span style="color: #1D71B8; font-size: 2.5rem; font-weight: 500"> 05</span> 
					  </div>
					  <div class="col-6 px-0">
						 <span style="color: rgba(85, 85, 85, 0.58); font-size: .8rem; font-weight: 500"> La aprendedora</span><br>
						 <span style="color: rgba(0, 0, 0, 0.75); font-size: 1rem; font-weight: 500">Días de capacitación acumulados</span> 
					  </div>
					  <div class="col-2 px-0" align="center">
						  <img src="assets/images/icon_check.png">
					  </div>
					  
                  </div>
				  </div>
				  
				  <div class="box_capacitacion mb-1 mt-4 pt-2 pb-2">
					  <div class="row" style="justify-content: space-around; align-items: center;">
					  <div class="col-2 px-0" align="center">
						<span style="color: #1D71B8; font-size: 2.5rem; font-weight: 500"> 02</span> 
					  </div>
					  <div class="col-6 px-0">
						 <span style="color: rgba(85, 85, 85, 0.58); font-size: .8rem; font-weight: 500"> La aprendedora</span> <br>
						 <span style="color: rgba(0, 0, 0, 0.75); font-size: 1rem; font-weight: 500"> 02/10/2022 - Inicio de capacitación</span> 
					  </div>
					  <div class="col-2 px-0" align="center">
						  <img src="assets/images/icon_check.png">
					  </div>
					  
                  </div>
				  </div>
                </div>
			  
			  <div class="row pt-5 pb-5">
                  <div class="col-3" align="center"><img src="assets/images/icon_rayo.png" width="40px"></div>
				  <div class="col-9 px-0"><h2 class="titu_cap">Tus puntos acumulados</h2></div>
                </div>
			  
			  <div class="row pt-5 pb-5">
                  <div class="col-3" align="center"><img src="assets/images/icon_maleta.png" width="40px"></div>
				  <div class="col-9 px-0"><h2 class="titu_cap">Tus premios<br>
                 canjeados</h2></div>
                </div>
			  
					</div>
		  
		 <div class="col-lg-8 mb-5 p-4 box-avance mt-5"> 
			 
			 <div class="col-lg-12 mb-5">
				 <img class="img-fluid" src="assets/images/calendar.png">
			 </div>
			 
			 <div class="col-lg-12">
          <div class="count-area-content mb-5">
                    <div class="count-digit counter-loaded">1230</div>
                    <div class="count-title"> Tus puntos disponibles </div>
                  </div>
				 </div>
			 <div class="mb-5 col-lg-12">
				<div class="row">
					<div class="col-lg-2" align="center"></div>
				<div class="col-lg-4" align="center">
					
				<div class="count-digit2 counter-loaded" style="border-right: 5px solid #089F42;">980</div>
                    <div class="count-title"> Puntos canjeados </div>
			</div>
				<div class="col-lg-4" align="center">
				<div class="count-digit2 counter-loaded">1320</div>
                    <div class="count-title"> Puntos canjeados </div>
			</div>
					<div class="col-lg-2" align="center"></div>
				
				</div>
				</div>
			 
			 <div class="col-lg-12">
				 <div class="row">
					 
				 <div class="col-lg-6 pb-3">
					 <div class="box_capacitacion p-0">
					 <div class="col-lg-12 d-flex">
						 <div class="col-lg-4">
							 <img class="img-fluid" src="assets/images/img_canje1.png">
						 </div>
						 <div class="col-lg-8 px-2">
							 <p class="titucred pt-3">CyberWOW</p>
							 <p class="textopeq">1 cupo por edición</p>
						 </div>
					 </div>
					 <div class="col-lg-12 d-flex bg-azul rounded-bottom2 text-white py-1" style="font-size: .8rem">
						 <div class="col-lg-6 px-2">
					 El 04/09/2022
					 </div>
					 <div class="col-lg-6 pe-2" align="right">
					 Has gastado: 500 puntos
					 </div>
						 </div>
				 </div> 
					 </div>
				 
				 <div class="col-lg-6">
					 <div class="box_capacitacion p-0">
					 <div class="col-lg-12 d-flex">
						 <div class="col-lg-4">
							 <img class="img-fluid" src="assets/images/img_canje2.png">
						 </div>
						 <div class="col-lg-8 px-2">
							 <p class="titucred pt-3">Museo de Arte Italiano </p>
							 <p class="textopeq">Entradas gratis para todo tu equipo</p>
						 </div>
					 </div>
					 <div class="col-lg-12 d-flex bg-azul rounded-bottom2 text-white py-1" style="font-size: .8rem">
						 <div class="col-lg-6 px-2">
					 El 04/09/2022
					 </div>
					 <div class="col-lg-6 pe-2" align="right">
					 Has gastado: 500 puntos
					 </div>
						 </div>
				 </div> 
					 </div>
					 
				 
			 </div>
				 </div>
				 
					</div>
		  <div class="col-lg-12">
				<div class="row">
					<div class="section-heading mb-5" align="left">
            <h2 class="mb-0 pb-0">Sigue Capacitándote</h2>
          </div>
			 </div>
			   </div>
		  <div class="col-lg-12">
				<div class="row">
					<div class="col-lg-4 mb-4">
						<div class="box_capacitacion_azul p-4">
					 <div class="col-lg-12 d-flex">
						 <div class="col-lg-8">
							 <p class="text-white"><strong>Nivel Básico</strong></p>
							 <p class="text-blanco"><strong>Gestión Empresarial</strong></p>
							 <p class="text-white">Recomendación #4</p>
							 <div class="main-button-avance mt-3">
								 <a href="#">Continuar</a></div>
							 </div>
						 <div class="col-lg-4">
							 <div class="col-xl-3 col-lg-6 mb-4" align="center">
      <div class="">

       <div class="circular">
    <div class="inner bg-azul">
    </div>
    <div class="outer">
    </div>
    <div class="numb text-white">
        0%</div>
    <div class="circle">
        <div class="dot" style="background-color: #fff;">
            <span style="background-color: #fff;"></span>
        </div>
        <div class="bar left" style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="progress" style="background-color: #fff;">
            </div>
        </div>
        <div class="bar right"  style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="progress" style="background-color: #fff;">
            </div>
        </div>
    </div>
</div>

      </div>
    </div>
							 </div>
						 </div>
							</div>
						
					</div>
					
					
					<div class="col-lg-4 mb-4">
						<div class="box_capacitacion_verde p-4">
					 <div class="col-lg-12 d-flex">
						 <div class="col-lg-8">
							 <p class="text-white"><strong>Nivel Básico</strong></p>
							 <p class="text-blanco"><strong>Gestión Empresarial</strong></p>
							 <p class="text-white">Recomendación #4</p>
							 <div class="main-button-avance mt-3">
								 <a href="#" class="bg-azul">Continuar</a></div>
							 </div>
						 <div class="col-lg-4">
							 <div class="col-xl-3 col-lg-6 mb-4" align="center">
      <div class="">

       <div class="circular">
    <div class="inner bg-verde">
    </div>
    <div class="outer">
    </div>
    <div class="numb text-white">
        0%</div>
    <div class="circle">
        <div class="dot" style="background-color: #fff;">
            <span style="background-color: #fff;"></span>
        </div>
        <div class="bar left" style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="progress" style="background-color: #fff;">
            </div>
        </div>
        <div class="bar right"  style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="progress" style="background-color: #fff;">
            </div>
        </div>
    </div>
</div>

      </div>
    </div>
							 </div>
						 </div>
							</div>
						
					</div>
					
					<div class="col-lg-4 mb-4">
						<div class="box_capacitacion_azul p-4">
					 <div class="col-lg-12 d-flex">
						 <div class="col-lg-8">
							 <p class="text-white"><strong>Nivel Básico</strong></p>
							 <p class="text-blanco"><strong>Gestión Empresarial</strong></p>
							 <p class="text-white">Recomendación #4</p>
							 <div class="main-button-avance mt-3">
								 <a href="#">Continuar</a></div>
							 </div>
						 <div class="col-lg-4">
							 <div class="col-xl-3 col-lg-6 mb-4" align="center">
      <div class="">

       <div class="circular">
    <div class="inner bg-azul">
    </div>
    <div class="outer">
    </div>
    <div class="numb text-white">
        0%</div>
    <div class="circle">
        <div class="dot" style="background-color: #fff;">
            <span style="background-color: #fff;"></span>
        </div>
        <div class="bar left" style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="progress" style="background-color: #fff;">
            </div>
        </div>
        <div class="bar right"  style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="progress" style="background-color: #fff;">
            </div>
        </div>
    </div>
</div>

      </div>
    </div>
							 </div>
						 </div>
							</div>
						
					</div>
					
					<div class="col-lg-4 mb-4">
						<div class="box_capacitacion_verde p-4">
					 <div class="col-lg-12 d-flex">
						 <div class="col-lg-8">
							 <p class="text-white"><strong>Nivel Básico</strong></p>
							 <p class="text-blanco"><strong>Gestión Empresarial</strong></p>
							 <p class="text-white">Recomendación #4</p>
							 <div class="main-button-avance mt-3">
								 <a href="#" class="bg-azul">Continuar</a></div>
							 </div>
						 <div class="col-lg-4">
							 <div class="col-xl-3 col-lg-6 mb-4" align="center">
      <div class="">

       <div class="circular">
    <div class="inner bg-verde">
    </div>
    <div class="outer">
    </div>
    <div class="numb text-white">
        0%</div>
    <div class="circle">
        <div class="dot" style="background-color: #fff;">
            <span style="background-color: #fff;"></span>
        </div>
        <div class="bar left" style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="progress" style="background-color: #fff;">
            </div>
        </div>
        <div class="bar right"  style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="progress" style="background-color: #fff;">
            </div>
        </div>
    </div>
</div>

      </div>
    </div>
							 </div>
						 </div>
							</div>
						
					</div>
					
					
					<div class="col-lg-4 mb-4">
						<div class="box_capacitacion_azul p-4">
					 <div class="col-lg-12 d-flex">
						 <div class="col-lg-8">
							 <p class="text-white"><strong>Nivel Básico</strong></p>
							 <p class="text-blanco"><strong>Gestión Empresarial</strong></p>
							 <p class="text-white">Recomendación #4</p>
							 <div class="main-button-avance mt-3">
								 <a href="#" class="">Continuar</a></div>
							 </div>
						 <div class="col-lg-4">
							 <div class="col-xl-3 col-lg-6 mb-4" align="center">
      <div class="">

       <div class="circular">
    <div class="inner bg-azul">
    </div>
    <div class="outer">
    </div>
    <div class="numb text-white">
        0%</div>
    <div class="circle">
        <div class="dot" style="background-color: #fff;">
            <span style="background-color: #fff;"></span>
        </div>
        <div class="bar left" style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="progress" style="background-color: #fff;">
            </div>
        </div>
        <div class="bar right"  style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="progress" style="background-color: #fff;">
            </div>
        </div>
    </div>
</div>

      </div>
    </div>
							 </div>
						 </div>
							</div>
						
					</div>
					
					<div class="col-lg-4 mb-4">
						<div class="box_capacitacion_verde p-4">
					 <div class="col-lg-12 d-flex">
						 <div class="col-lg-8">
							 <p class="text-white"><strong>Nivel Básico</strong></p>
							 <p class="text-blanco"><strong>Gestión Empresarial</strong></p>
							 <p class="text-white">Recomendación #4</p>
							 <div class="main-button-avance mt-3">
								 <a href="#" class="bg-azul">Continuar</a></div>
							 </div>
						 <div class="col-lg-4">
							 <div class="col-xl-3 col-lg-6 mb-4" align="center">
      <div class="">

       <div class="circular">
    <div class="inner bg-verde">
    </div>
    <div class="outer">
    </div>
    <div class="numb text-white">
        0%</div>
    <div class="circle">
        <div class="dot" style="background-color: #fff;">
            <span style="background-color: #fff;"></span>
        </div>
        <div class="bar left" style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="progress" style="background-color: #fff;">
            </div>
        </div>
        <div class="bar right"  style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="progress" style="background-color: #fff;">
            </div>
        </div>
    </div>
</div>

      </div>
    </div>
							 </div>
						 </div>
							</div>
						
					</div>
          </div>
			 </div>
			   </div>
		  
		  
		  <div class="col-lg-12">
				<div class="row">
					<div class="section-heading mb-5 mt-5" align="left">
            <h2 class="mb-0 pb-0">Descubre nuevos premios</h2>
          </div>
			 </div>
			   </div>
		
		<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-1 mb-3"></div>
					<div class="col-lg-1 mb-3"></div>
					<div class="col-lg-3 mb-3">
              <div class="meeting-item fact-item">
                <div class="thumb">
                  <div class="price">
                    <img src="assets/images/et_verde.png">
                  </div>
                  <a href="meeting-details.html"><img class="img-fluid" src="assets/images/premios_img_1.png" alt="New Lecturer Meeting"></a>
					<div class="price2"><img class="px-3" src="assets/images/et_nuevo.png" alt=""></div>
                </div>
                <div class="down-content">
                <h5 class="mb-0 titulos-nuevospremios mb-4">CyberWow</h5>
				  1 cupo por edición
                <div class="info px-0 pt-4">
                  <div class="row px-0 mx-0 subt-nuevospremios">
                    500<br>
                  <strong class="p-0">PUNTOS<br> PRODUCE</strong> </div>
					<div class="main-button-yellowp mt-3" align="center">
                  <div class="catalogo_premios.html px-2"><a href="catalogo_premios_detalle.html">¡Lo quiero!</a></div>
              </div>
                </div>
              </div>
              </div>
            </div>
					<div class="col-lg-3 mb-3">
              <div class="meeting-item fact-item">
                <div class="thumb">
                  <div class="price">
                    <img src="assets/images/et_verde.png">
                  </div>
                  <a href="meeting-details.html"><img class="img-fluid" src="assets/images/premios_img_1.png" alt="New Lecturer Meeting"></a>
					<div class="price2"><img class="px-3" src="assets/images/et_nuevo.png" alt=""></div>
                </div>
                <div class="down-content">
                <h5 class="mb-0 titulos-nuevospremios mb-4">CyberWow</h5>
				  1 cupo por edición
                <div class="info px-0 pt-4">
                  <div class="row px-0 mx-0 subt-nuevospremios">
                    500<br>
                  <strong class="p-0">PUNTOS<br> PRODUCE</strong> </div>
					<div class="main-button-yellowp mt-3" align="center">
                  <div class="catalogo_premios.html px-2"><a href="catalogo_premios_detalle.html">¡Lo quiero!</a></div>
              </div>
                </div>
              </div>
              </div>
            </div>
					<div class="col-lg-3 mb-3">
              <div class="meeting-item fact-item">
                <div class="thumb">
                  <div class="price">
                    <img src="assets/images/et_verde.png">
                  </div>
                  <a href="meeting-details.html"><img class="img-fluid" src="assets/images/premios_img_1.png" alt="New Lecturer Meeting"></a>
					<div class="price2"><img class="px-3" src="assets/images/et_nuevo.png" alt=""></div>
                </div>
                <div class="down-content">
                <h5 class="mb-0 titulos-nuevospremios mb-4">CyberWow</h5>
				  1 cupo por edición
                <div class="info px-0 pt-4">
                  <div class="row px-0 mx-0 subt-nuevospremios">
                    500<br>
                  <strong class="p-0">PUNTOS<br> PRODUCE</strong> </div>
					<div class="main-button-yellowp mt-3" align="center">
                  <div class="catalogo_premios.html px-2"><a href="catalogo_premios_detalle.html">¡Lo quiero!</a></div>
              </div>
                </div>
              </div>
              </div>
            </div>
					<div class="col-lg-1 mb-3"></div>
          </div>
			 </div>
			   </div>
		<div class="col-12 mt-5 mb-5" align="center">
			<div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Ver todos los premios</a></div>
              </div>
		  </div>
			
  </section>
